[Unit]
Description=Carpi logging service can0
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/dietpi/prosilva-pi-software/piedge_service
ExecStart=/home/dietpi/.virtualenvs/py3env/bin/python /home/dietpi/canlogger_actros/truck_logging/exhaust_diag_uds.py
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=network.target
